    <!--We call our boilerplate layout and pass the remaining content as body-->
    <% layout('layouts/boilerplate.ejs')%>
    <!-- Adding Campground Map Cluster on Top -->
    <div id="map" style="width: 100%; height: 500px"></div>
    <h1>All Campgrounds</h1>
    <%for(let campground of campgrounds){%>
    <!-- Bootstrap card  -->
    <div class="card">
        <div class="row">
            <!-- We are diving the card into col-4 and col-8 so each card will take entire horizontal space above md -->
            <div class="col-md-4">
                <% if(campground.images.length) { %>
                <img src="<%=campground.images[0].url%>" alt="<%=campground.images[0].url%>" class="img-fluid">
                <% } else { %>
                <img src="https://res.cloudinary.com/manali-camp/image/upload/v1624985025/YelpCamp/dop78f6os8myyevryoxb.jpg"
                    alt="" class="img-fluid">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%=campground.title%></h5>
                    <p class="card-text"><%=campground.description%></p>
                    <p class="card-text">
                        <!-- Small is used to denote syntatically a element smaller than rest of text -->
                        <small class="text-secondary"><%=campground.location%></small>
                    </p>
                    <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">View <%=campground.title%></a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <!-- Map Token and Marker info for campground-->
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN %>';
        const campgrounds = {
            features: <%-JSON.stringify(campgrounds) %>
        };
    </script>
    <!-- Cluster Map Script file -->
    <script src="/js/clusterMap.js"></script>