    <!--We call our boilerplate layout and pass the remaining content as body-->
    <% layout('layouts/boilerplate.ejs')%>
    <h1>Campground Show!</h1>
    <h2><%=campground.title%></h2>
    <h2><%=campground.location%></h2>
    <img src="<%=campground.image%>" alt="camp-image">
    <p><%=campground.description%></p>
    <p><a href="/campgrounds/<%=campground._id%>/edit">Edit</a></p>
    <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    <footer>
        <a href="/campgrounds">Home</a>
    </footer>